.MathJax{
    display: inline-flexbox;
    color: white;
}



.container {
    background-color: rgb(58, 54, 54);
    color: white;
    
}

.sectionText {
    min-width: 450px;
    max-width: 600px;
}



.textBorder {
    border: 2px solid white;
    border-radius: 20px;
}

.textList {
    list-style: none;
}

.splitContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.oneLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.negativeAlign {
    margin-left: -35px;
}